*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 70%;
    margin: auto;
}

.big_wrapper {
    padding: 200px;
    margin: 10vh;
    position: relative;
   
}

.d_none{
    display: none;
}


.img_wrapper {
    height: 100%;
    display: none;
}

/* .img_list{
    height: 100%;
} */

.img_cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.img_wrapper.show {
    display: block;
}


.navigation {
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}


#prev {
    left: 20px;
}

#next {
    right: 20px;
}